# Análise exploratória dos dados

A  House Rocket  é uma empresa do mercado imobiliário, atuando na compra e revenda de imóveis usados. Nesse contexto, o CEO da empresa busca realizar suas tomadas de decisões por meio de insights retirados de uma base de dados externa que contém informações acerca dos imóveis da região, como preço, número de quartos, banheiros e etc. 

Para isso O CEO da empresa realizou uma série de perguntar e necessita que elas sejam enviada por e-mail em um txt, junto com dois anexos (um mapa e um .csv com os dados)

### Importando as bibliotecas

In [81]:
import pandas as pd
import numpy as np

#Formatando os valores float - Notificação científica
np.set_printoptions(suppress=True)
pd.set_option('display.float_format', '{:.2f}'.format)

In [99]:
!pip install jupyter_contrib_nbextensions
jupyter contrib nbextension install --user
jupyter nbextension enable execute_time/ExecuteTime

SyntaxError: invalid syntax (Temp/ipykernel_6668/323016225.py, line 2)

### Carregando o dataset

In [82]:
df = pd.read_csv(r'dataset\kc_house_data.csv')

In [83]:
#Imprimindo os 5 primeiros caracteres
df.head(n=5)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.00,3,1.00,1180,5650,1.00,0,0,...,7,1180,0,1955,0,98178,47.51,-122.26,1340,5650
1,6414100192,20141209T000000,538000.00,3,2.25,2570,7242,2.00,0,0,...,7,2170,400,1951,1991,98125,47.72,-122.32,1690,7639
2,5631500400,20150225T000000,180000.00,2,1.00,770,10000,1.00,0,0,...,6,770,0,1933,0,98028,47.74,-122.23,2720,8062
3,2487200875,20141209T000000,604000.00,4,3.00,1960,5000,1.00,0,0,...,7,1050,910,1965,0,98136,47.52,-122.39,1360,5000
4,1954400510,20150218T000000,510000.00,3,2.00,1680,8080,1.00,0,0,...,8,1680,0,1987,0,98074,47.62,-122.05,1800,7503

In [ ]:
df.

In [84]:
#Transformando a colunda date no formato de data
df['date'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [85]:
#Exibindo a coluna date formatada
df.date

0       2014-10-13
1       2014-12-09
2       2015-02-25
3       2014-12-09
4       2015-02-18
           ...
21608   2014-05-21
21609   2015-02-23
21610   2014-06-23
21611   2015-01-16
21612   2014-10-15
Name: date, Length: 21613, dtype: datetime64[ns]

### Respondendo as perguntas acerca do dataset

#### 1. Crie uma nova coluna chamada: “house_age” :
- Se o valor da  coluna “date” for maior  que 2014-01-01 =>  ‘new_house’
- Se o valor da coluna “date” for menorque 2014-01-01 => ‘old_house?

In [86]:
# Criando a coluna new_house
df['house_age'] = ''
df.loc[df['date'] > "2014-01-01" , 'house_age' ] = 'new_house'
df.loc[df['date'] < "2014-01-01" , 'house_age' ] = 'old_house'

#### 2. Crie uma nova coluna chamada:“dormitory_type”
- Se o valor da coluna “bedrooms” for menor ou igual à 1 => ‘studio’
- Se o valor da coluna “bedrooms” for igual a 2 => ‘apartament’
- Se o valor da coluna “bedrooms” for maior que 2 => ‘house'

In [87]:
#Criando a coluna dormitory_type
df['dormitory_type'] = ''
#Criando a classificação
df.loc[df['bedrooms'] <= 1 , 'dormitory_type'] = 'studio'
df.loc[df['bedrooms'] == 2 , 'dormitory_type'] = 'apartament'
df.loc[df['bedrooms'] > 2 , 'dormitory_type'] = 'house'

#### 3. Crie uma nova coluna chamada:“condition_type”
- Se o valor da coluna “condition” for menor ou igual à 2 => ‘bad’
- Se o valor da coluna “condition” for igual à 3 ou 4 => ‘regular’
- Se o valor da coluna “condition” for igual à 5 => ‘good’

In [88]:
#Criando a coluna dormitory_type
df['condition_type'] = ''

In [89]:
df['codition_type']  = df['condition'].apply(lambda x :"bad"  if  (x <= 2)  else "regular" if (x == 3) | (x == 4)  else 'good')

#### 4. Modifique o TIPO aColuna “condition” para STRING

In [90]:
# Alterando o tipo dos dados
df['condition'] = df['condition'].astype(str )

#### 5. Delete as colunas: “sqft_living15” e “sqft_lot15

In [91]:
#Utilizando o comando DROP
df.drop('sqft_living15' , axis = 'columns' , inplace = True )

In [92]:
#Deletando com o comando DEL built-in do python 
del df['sqft_lot15']

In [93]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'house_age', 'dormitory_type', 'condition_type',
       'codition_type'],
      dtype='object')

#### 6. Modifique o TIPO a Coluna “yr_build” para DATE

In [94]:
df['yr_built']  = pd.to_datetime(df['yr_built'] , format = '%Y' )

#### 7. Modifique o TIPO a Coluna “yr_renovated” para DATE

In [95]:
# df['yr_renovated'] = df['yr_renovated'].apply( lambda x : pd.to_datetime(x , format = '%Y' )  if (x > 0)  else x )

#### 8. Qual a data mais antiga de construção de um imóvel?

In [96]:
date_min = df['yr_built'].min().year
print(f" A casa mais antiga foi construída no ano {date_min}.")

 A casa mais antiga foi construída no ano 1900.


#### 9. Qual a data mais antiga de renovação de um imóvel?

In [97]:
df['yr_renovated'] = df['yr_renovated'].apply( lambda x: pd.to_datetime( x,format='%Y') if x > 0 else x )
aux = df[df['yr_renovated'] > 0]['yr_renovated']

TypeError: '>' not supported between instances of 'Timestamp' and 'int'

#### 10. Quantos imóveis tem 2 andares?

In [79]:
print(  f' Existem {df[df["floors"] == 2 ].shape[0]}  imoveis com 2 andares')

 Existem 8241  imoveis com 2 andares

#### 11. Quantos imóveis estão com a condição igual a “regular” ?

In [80]:
print(  f' Existem {df[df["condition_type"] == "regular" ].shape[0]} imóveis regulares')

 Existem 19710 imóveis regulares


#### 12. Quantos imóveis estão com a condição igual a “bad”e possuem“vista para água” ?

In [95]:

print(  f' Existem {df[(df["condition_type"] == "regular") & (df["waterfront"] == 1)].shape[0]} imóveis com condição "bad" e com vista para o mar')

 Existem 141 imóveis com condição "bad" e com vista para o mar

#### 13. Quantos imóveis estão com a condição igual a “good” e são “new_house”?

In [97]:

print(  f' Existem {df[(df["condition_type"] == "good") & (df["house_age"] == "new_house")].shape[0]} imóveis com condição "bad" e com vista para o mar')

 Existem 1701 imóveis com condição "bad" e com vista para o mar

#### 14. Qual o valor do imóvel mais caro do tipo “studio” ?

In [100]:
df[(df["dormitory_type"] == "studio")].sort_values(by = 'price' , ascending = False)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,house_age,dormitory_type,condition_type
6994,2954400190,2014-06-24,1295650.0,0,0.00,4810,28008,2.0,0,0,...,4810,0,1970-01-01 00:00:00.000001990,1970-01-01 00:00:00.000000000,98053,47.6642,-122.069,new_house,studio,regular
8445,724069023,2015-04-14,1247000.0,1,1.25,1810,5070,1.5,1,4,...,1230,580,1970-01-01 00:00:00.000001967,1970-01-01 00:00:00.000000000,98075,47.5814,-122.081,new_house,studio,regular
875,6306400140,2014-06-12,1095000.0,0,0.00,3064,4764,3.5,0,2,...,3064,0,1970-01-01 00:00:00.000001990,1970-01-01 00:00:00.000000000,98102,47.6362,-122.322,new_house,studio,regular
9888,1231000310,2014-08-12,713000.0,1,1.00,1180,4000,1.5,0,2,...,840,340,1970-01-01 00:00:00.000001910,1970-01-01 00:00:00.000000000,98118,47.5561,-122.266,new_house,studio,regular
4410,4083304190,2014-08-04,680000.0,1,2.50,1820,3008,2.0,0,0,...,1090,730,1970-01-01 00:00:00.000001910,1970-01-01 00:00:00.000002004,98103,47.6529,-122.339,new_house,studio,regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16530,2114700500,2015-04-18,90000.0,1,1.00,560,4120,1.0,0,0,...,560,0,1970-01-01 00:00:00.000001947,1970-01-01 00:00:00.000000000,98106,47.5335,-122.348,new_house,studio,regular
7992,2734100835,2015-03-03,90000.0,1,1.00,780,4000,1.0,0,0,...,780,0,1970-01-01 00:00:00.000001905,1970-01-01 00:00:00.000000000,98108,47.5424,-122.321,new_house,studio,regular
3108,1721801591,2015-02-19,89950.0,1,1.00,570,4080,1.0,0,0,...,570,0,1970-01-01 00:00:00.000001942,1970-01-01 00:00:00.000000000,98146,47.5098,-122.334,new_house,studio,regular
465,8658300340,2014-05-23,80000.0,1,0.75,430,5050,1.0,0,0,...,430,0,1970-01-01 00:00:00.000001912,1970-01-01 00:00:00.000000000,98014,47.6499,-121.909,new_house,studio,bad
1149,3421079032,2015-02-17,75000.0,1,0.00,670,43377,1.0,0,0,...,670,0,1970-01-01 00:00:00.000001966,1970-01-01 00:00:00.000000000,98022,47.2638,-121.906,new_house,studio,regular

#### 14. Das casas com vista para o mar, quantas tem 3 quartos?

In [84]:
print(f"O número de casas que possuem vista para o mar e 3 quartos é {df[(df['waterfront'] == 1) & (df['bedrooms'] == 3) ].shape[0]}")

O número de casas que possuem vista para o mar e 3 quartos é 64

#### 15. Das casas com mais de 300 metros quadrados de sala de estar, quantas tem mais de 2 banheiros?

In [85]:
print(f"O número de casas que possuem sala de estar com + 300 m2 e 2 banheiros é {df[(df['sqft_living15'] > 300.0) & (df['bathrooms'] == 2.0) ].shape[0]}")

KeyError: 'sqft_living15'

### Concluido